@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}


/*--------Header----------*/

header nav{
    background-color: black;
}

.navbar-brand {
    font-size: 50px;
    color: white;
}

header nav form .boton{
    border: 1px solid white;
    color: white;
    transition: 0,5s;

}
header nav form .boton:hover{
    color: bisque;
    border: 1px solid bisque;
}

header h1 a{
    font-size: 50px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: 0,5s
    
    
}

header h1 a:hover{
    color: bisque;
}

header nav ul{
    list-style: none;
    display: flex;
    
}

header nav ul li {
    /*display: inline-block;*/
    /*margin: 10px 15px;  (10px arriba y abajo, 15px lados)*/
    /*margin: 10px 15px 15px 10px; arriba derecha abajo izquierda*/
    /*margin margin-top: ;*/
    /*margin-left: ;*/
    margin: 10px 15px 15px 10px;


}

header nav  ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header nav  ul li a:hover{
    color: bisque;
}


/*-----Main--------*/

.carusel div img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/*.hero{
    text-align: center;
    width: 100%;
    height: 75vh;
    color: white;
    background-image: url("../img/wallpaperbetter.com_1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.hero p{
    margin-bottom: 15px;
}
.hero h2{
    font-size: 50px;
    font-weight: 400;
}
.hero a{

}

.marcas{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.marcas h2{
    text-align: center;
    font-weight: 400;
    }
.marcas p{
    text-align: center;
}
.marcas .contenedor-marcas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.marcas .contenedor-marcas div{
    border: 1px solid rgb(206, 205, 205); 
    width: 230px;
    height: 250px;
    margin: 30px;
    text-align: center;
    background-color: white;
    transition: 1s;
    
}

.marcas .contenedor-marcas div:hover{
    transform: scale(1.16);
}

.marcas div img{
    width: 230px;
}
.marcas div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    padding: 3px 10px;
}


.audio{
    background-color: rgba(0, 0, 0, 0.932);
    text-decoration: none;
    color: white;
}
.audio h2{
    text-align: center;
    font-weight: 400;
}
.audio p{
    text-align: center;
}

.audio  .contenedor-audio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.audio div img{
    width: 230px;

}

.audio div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    padding: 3px 10px;
    

}

.audio .contenedor-audio div{
    border: 1px solid rgb(206, 205, 205); 
    width: 230px;
    height: 250px;
    margin: 30px;
    text-align: center;
    background-color: white;
    transition: 1s;

}

.audio .contenedor-audio div:hover{
    transform: scale(1.16);
}

.audio .contenedor-audio div h3{
    margin: 10px;
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;

}

.fixed img{
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

.fixed img:hover{
    height: 60px;
    width: 60px;
}


/*------FOOTER-------*/
footer h2{
    font-weight: 200;
    color: white;
    font
}
footer div img{
    width: 50px;
    height: 50px;
}

footer{
    background-color: rgb(63, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    width: 25%;
}

footer iframe{
    width: 560px;
    height: 315px;
    margin: 50px;
}






/*------------------------------------------------------------------------------------------------------------------*/




/*-----CONTACTO-----*/

.contenedor-formularios div label{
    color: white;
    text-align: center;
    margin: 15px;
    
}

.seleccion-consulta{
    color: white;
    margin: 15px;
}


/*-----Nosotros-----*/
.nosotros{
    text-align: center;
    color: white;
}

.contacto-nosotros{
    color: white;
    transition: 0,5s;
    border: 10px;
    border-color: white;
}
.contacto-nosotros:hover{
    color: bisque;
}



/*----musica*------------*/

main{
    background-color: rgba(0, 0, 0, 0.932);
}
.galeria{
    background-color: rgba(0, 0, 0, 0.932);
}
.audio-titulogaleria{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.grid-galeria{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
    gap: 7px;
}
.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 3s;

}

.grid-galeria div img:hover{
    transform: scale(1.12);
}

.grid-item2{
    grid-area: span 2;

}



/*----MARCAS*------------*/

.galeria-marcas{
    background-color: rgba(0, 0, 0, 0.932);
}
.grid-galeriamarcas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 7px;
}

.grid-galeriamarcas div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 3s;

}

.grid-galeriamarcas div img:hover{
    transform: scale(1.12);
}



/*----CONTACTO*------------*/





/*-------MEDIA QUERY--------------*/
@media screen and (max-width:850px){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    footer iframe{
        width: 470px;
        height: 225px;
    }

    
}

@media screen and (max-width:530px){
    .grid-galeria{
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;  
    }
    .grid-galeriamarcas{
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }

}
    footer div img{
    width: 32px;
    height: 32px;}

@media screen and (max-width:470px){
    header nav ul{
        flex-direction: column;
        text-align: center;
    }
    header nav ul li{
        margin: 5px;
    }
    footer iframe{
        width: 340px;
        height: 145px;
    }
}  

@media screen and (max-width:508px) {
    footer iframe{
        width: 220px;
        height: 105px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
}