footer{
    background-color: rgb(63, 62, 62);
    @include flex (flex, center, center)
    div{
        width: 25%;
        h2{
            font-weight: nth($font-weight, 1);
            color: $color-secundario;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    iframe{
        width: 560px;
        height: 315px;
        margin: nth($margin, 3);
    }
}


.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
    img{
        height: 50px;
        width: 50px;
        transition: 0.5s;
        &:hover{
            height: 60px;
            width: 60px;
        }
    }
}