footer{
    background-color: rgb(63, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 25%;
        h2{
            font-weight: 200;
            color: white;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    iframe{
        width: 560px;
        height: 315px;
        margin: 50px;
    }
}


.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
    img{
        height: 50px;
        width: 50px;
        transition: 0.5s;
        &:hover{
            height: 60px;
            width: 60px;
        }
    }
}