
header{
    
    nav{
        background-color: black;
        div{
            a{
            }
            div{
                ul{
                    li{
                        margin: 10px 15px 15px 10px;
                    }
                }
            }
            .navbar-brand{
                font-size: 50px;
                color: white;
            }
        }

    }
}


